<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timaimee.vpdemo">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="merge"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />


    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_d"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2aac4346f58659a4f548c11080768b5d" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.OperaterActivity" />
        <activity android:name=".activity.GpsReportActivity" />
        <activity android:name=".activity.AimSportCalcActivity" />
        <activity android:name=".activity.GpsLatlonActivity" />
        <activity android:name=".activity.InstitutionActivity" />
        <activity android:name=".activity.EcgDetectActivity" />
        <activity android:name=".activity.PttActivity" />
        <activity android:name=".activity.UiUpdateAGPSActivity" />
        <activity android:name=".activity.UiUpdateCustomActivity" />
        <activity android:name=".activity.UiUpdateServerActivity" />
        <activity android:name=".oad.activity.OadActivity" />
        <activity android:name=".oad.activity.NotificationActivity" />
        <activity android:name=".activity.TextAlarmActivity"/>
        <activity android:name=".activity.NotificationSettingsActivity"/>
        <activity android:name=".activity.OriginalDataLogActivity"/>
        <activity android:name=".activity.G15QRCodeActivity"/>
        <activity android:name=".activity.UiUpdateG15ImgActivity"/>
        <activity android:name=".activity.ECGSwitchActivity"/>
        <activity android:name=".activity.HealthRemindActivity"/>
        <activity android:name=".activity.JLDeviceOPTActivity"/>
        <service
            android:name="com.inuker.bluetooth.library.BluetoothService"
            android:enabled="true"
            android:foregroundServiceType="location" />

        <service android:name=".oad.service.DfuService" />
        <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:foregroundServiceType="location" />
    </application>


</manifest>